<h1>Listando Articulos</h1>
<table>
  <tr>
    <th>Titular</th>
    <th>Contenido</th>
  </tr>
  <% @articulos.each do |articulo| %>
    <tr>
      <th><%= articulo.titular %></th>
      <th><%= articulo.contenido %></th>
    </tr>
  <% end %>
</table>

<%= link_to 'Nuevo Articulo', new_articulo_path %>
